
.digits {
  margin-bottom: 100px;
}

.section-title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  box-sizing: border-box;
} 

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.table__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}

.table__text:nth-child(2n+3){
  margin-top: 20px;
}

.feynman {
  position: relative;
  min-height: 890px;
  background: url('../images/feynman.png') left bottom/867px 637px no-repeat;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  width: 648px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link::after{
  display: inline-block;
  position: relative;
  content: '→';
  bottom: 1px;
  left: 10px;
}

.kaufman {
  color: #fff;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  text-align: center;
  padding-top: 90px;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark {
  text-align: center;
}

.cell_theme_dark {
  width: 200px;
  margin-top: 80px;
} 

.kaufman__triangle{
  position: absolute;
  background: url(../images/kaufman-triangle.svg) right -210px top 0/877px 877px no-repeat;
  width: 877px;
  height: 877px;
  top: 0;
  right: 0;
  z-index: 1;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
  position: relative;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  min-height: 250px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 16px;
}

.footer__column-link{
  display: flex;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;  
}

.footer__social-icon{
  align-self: center;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}