.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
  position: relative;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  padding-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  min-height: 250px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 16px;
}

.footer__column-link{
  display: flex;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;  
}

.footer__social-icon{
  align-self: center;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}